body {
  font-family: "Times New Roman";
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #9b76d6;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
.search-bar {
  margin-left: 1000px;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 180px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.logo {
  font-family: "Times New Roman";
  color: #befb7a;
}

.dp {
  border-radius: 15px;
  background-color: #ce95ed;
  color: white;
  height: 30px;
  width: 30px;
  text-align: center;
}

.dp-head {
  color: #fff;
  font-size: 15px;
}

.dp-para {
  color: #fff;
  font-size: 12px;
}

hr {
  color: #ce95ed;
}

.bell {
  color: black;
}

.logo-ditch {
  font-size: 25px;
}

.logo-dollar {
  font-size: 25px;
}

.dashboard {
  background: linear-gradient(
    90deg,
    rgba(190, 251, 122, 0) 42.53%,
    #befb7a 230.08%
  );
  color: #befb7a;
}

.left-a {
  color: #fff;
}

.quick-links-container {
  height: 320px;
  width: 900px;
  margin-top: 15px;
  margin-left: 15px;
  border: 2px solid #f2f4f7;
  border-radius: 10px;
}

.quick-container {
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  border: 2px solid #f2f4f7;
  border-radius: 10px;
  text-align: center;
}
.bar-chart-container {
  height: 600px;
  width: 900px;
  margin-top: 15px;
  margin-left: 15px;
  border: 2px solid #f2f4f7;
  border-radius: 10px;
}
.down-container {
  display: flex;
  justify-content: space-between;
}
.trading-container {
  height: 500px;
  width: 500px;
  margin-top: 15px;
  margin-left: 15px;
  border: 2px solid #f2f4f7;
  border-radius: 10px;
}
.trading-down-container {
  height: 300px;
  width: 500px;
  margin-top: 15px;
  margin-left: 15px;
  border: 2px solid #f2f4f7;
  border-radius: 10px;
}
.master-container {
  height: 200px;
  width: 450px;
  margin-top: 15px;
  margin-left: 15px;
  border: 2px solid #f2f4f7;
  border-radius: 10px;
}
.trade-container {
  height: 100px;
  width: 450px;
  margin-top: 15px;
  margin-left: 15px;
  border: 2px solid #f2f4f7;
  border-radius: 10px;
}
.trade-card-container {
  height: 200px;
  width: 450px;
  margin-top: 15px;
  margin-left: 15px;
  border: 2px solid #f2f4f7;
  border-radius: 10px;
}
.quick-links-head {
  font-size: 20px;
  margin: 10px;
  color: #344054;
}
.quick-links-head1 {
  font-size: 15px;
  color: #344054;
}
.quick-links-head2 {
  font-size: 15px;
  color: green;
}

.quick-links-head3 {
  font-size: 15px;
  color: red;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: #98a2b3;
}
.tab-long {
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  height: 30px;
  width: 80px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  color: #98a2b3;
}

.tab-short {
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  height: 30px;
  width: 80px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  background-color: #f08490;
}

.tab.active {
  background-color: #d5c3f6;
}
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
